@charset "UFT-8";


*{
    padding: 0px;
    margin: 0px;
}

html,body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

body{
    background: url('imagens/fundo-madeira.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    background: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 311px;
    height: 627px;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%)
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 470px;
}


section#redes-sociais{
    text-align: right;
    
}

section#redes-sociais > a >img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 3px black;
    box-sizing: border-box;
}

section#redes-sociais > a > img:hover{
    border: 2px solid white;
    transform: translate(-3%,-4%);
}